@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/* font-family: 'Dancing Script', cursive; */
#consultanta-online{
    max-width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    /* grid-gap: 1.5em; */
    /* margin-top: 2rem; */
    /* align-items: center; */
}

#consultanta-online .background{
    height: auto;
}
#consultanta-online .form-container, #consultanta-online .description{
    align-self: center;
    justify-self: center;
    /* border: solid 5px rgba(255, 255, 255, 0.7); */
    /* width: 50%; */
    /* margin-right: auto; */
    /* width: 90%; */
    padding-top: 2em;
}
#consultanta-online .form-container{
   grid-column: 1 / 2;
   grid-row: 1 / 2;
 
}

.form-container{
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:var(--transparent);
}
.form-container h1{
    text-align: center;
    justify-self: center;
    vertical-align: middle;
    font-family:'Dancing Script', cursive;
}
.form-container form {
    
    align-self: center;
    border: white solid 2px;
    /* background-color:var(--transparent); */
    /* TODO display flex coloana aliniat pe mijloc */
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    margin-bottom: 1em;
    /* justify-content: space-between; */
    width: 100%;
    height: auto;
    /* border: solid red; */
    text-align: center;
    background-color:wheat;
    padding-top: 2em;
}
input::-webkit-input-placeholder , textarea::-webkit-input-placeholder{
    color: #808080;
    transition: all .5s;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    /* color: red; */
    transform: scale(0.00001)
}
/* TEST */

.form-container input:focus ~ label,
.form-container textarea:focus ~ label,
.form-container input:valid ~ label,
.form-container textarea:valid ~ label {
    /* top: -12px;
    left: 0; */
    /* color: green; */
    font-size: 1rem;
    font-weight: bold;
}
label{
    display: none;
}

#gdpr-label{
    display: inline-block;
}
/* TEST---TEST */
textarea, input, label{
    width: 100%;
    
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
    border: var(--inv) solid 2px;
    font-family: var(--decorativeFont);
}
textarea{
    text-align: justify;
    height: auto;
    background-color:transparent;
    
}

fieldset {
    display: grid;
    grid-template-columns: 8fr 1fr;
}
fieldset label a{
    font-size: 1rem;
    color: black;
   transition: color .5s;
    

}

fieldset label a:hover{
    text-decoration:underline solid var(--secondary-font-color) ;
    color:blue;
}

.form-container form input, .form-container button{
    /* margin: 0.2em 0 0.7em 0; */
    background-color: transparent;
}

