@import url(./secondaryPages.css);
.parallax{
    background-image: url(../consultantaonline.jpg);
}


:is(.text) h3,h4, li::marker, p:first-of-type, h2 {
    color:var(--secondary-font-color);
}

:matches(.text) h3,h4, li::marker, p:first-of-type, h2 {
    color:var(--secondary-font-color);
}

.text li::marker, li{
    font-weight: bold;
}

:is(.text) h2, h3, h4,li{
    font-size: 1em;
    margin: 1em 0.5em;
    text-align: center;
}
:matches(.text) h2, h3, h4{
    font-size: 1em;
    margin: 1em 0.5em;
    text-align: center;
}

.text p {
    margin: 1em 0.5em;
}

.text li{
    text-align: justify;
}


@media screen and (max-width: 969px){

    .text {
        grid-row: 1 / 1 ; 
    }

    #contact{
        grid-row: 2 / 2;
    }
}