/* .penal {
    background-image: url(../assets/images/svg/penal.png);
}

.familial {
    background-image: url(../assets/images/svg/familie.png);
}

.civil {
    background-image: url(../assets/images/svg/civil.png);
}

.malpraxis {
    background-image: url(../assets/images/svg/malpraxis.png);
}

.muncii {
    background-image: url(../assets/images/svg/munca.png);
}

.executari {
    background-image: url(../assets/images/svg/executari.png);
} */

.imobiliar {
    background-image: url(../assets/images/svg/ballance\ symbol.png)
}

.contraventional {
    background-image: url(../assets/images/svg/contraventional.png);
}

.bancar {
    background-image: url(../assets/images/svg/bancar.png);
}

.administrativ {
    background-image: url(../assets/images/svg/administrativ.png);
}

.administrativ,
.bancar,
.contraventional,
.imobiliar,
.imobiliar
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left;
    
}

    .servicii-btn::after{
        transform-origin: top;
        transform: scaleY(0.1);
        font-size: .0001rem;
        

    }

.administrativ:hover::after,
.bancar:hover::after,
.civil:hover::after,
.contraventional:hover::after,
.imobiliar:hover::after,
.imobiliar:hover::after,
.executari:hover::after,
.familial:hover::after,
.malpraxis:hover::after,
.muncii:hover::after,
.penal:hover::after{
    transform: scaleY(1);
    /* z-index: 0; */
    font-size: .7rem;
   transition: all;
   transition-duration: .5s;
   transition-timing-function: ease-in-out;
   transition-delay: .0s;
   transform-origin: middle;
   content: "Vedeti mai multe";

}

/* .administrativ:hover::after{
    content: "Boy desirous families prepared gay reserved add ecstatic say. Replied joy age visitor nothing cottage. Mrs door paid led loud sure easy read. Hastily at perhaps as neither or ye fertile tedious visitor. Use fine bed none call busy dull when. Quiet ought match my right by table means. Principles up do in me favourable affronting. Twenty mother denied effect we to do on. ";
}

.bancar:hover::after{
    content:"Post no so what deal evil rent by real in. But her ready least set lived spite solid."
}
.civil:hover::after{
    content:"Post no so what deal evil rent by real in. But her ready least set lived spite solid."
}
.contraventional:hover::after{
    content:"Post no so what deal evil rent by real in. But her ready least set lived spite solid."
}
.imobiliar:hover::after{
    content:"Post no so what deal evil rent by real in. But her ready least set lived spite solid."
}
.executari:hover::after{
    content:"Post no so what deal evil rent by real in. But her ready least set lived spite solid."
}
.familial:hover::after{
    content:"Post no so what deal evil rent by real in. But her ready least set lived spite solid."
}
.malpraxis:hover::after{
    content:"Post no so what deal evil rent by real in. But her ready least set lived spite solid."
}
.muncii:hover::after{
    content:"Post no so what deal evil rent by real in. But her ready least set lived spite solid. "
}
.penal:hover::after{
    content:" September how men saw tolerably two behaviour arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward. Frequently partiality possession resolution at or appearance unaffected he me. Engaged its was evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began of cause an scale. Subjects he prospect elegance followed no overcame possible it on. "
} */