.appearFirstL{
    opacity: 0;
    animation: appearL 2s ease-in-out 1s 1 normal forwards;
  }
  
  
  
  .appearSecondL{
    opacity: 0;
    animation: appearL 2s ease-in-out 1.7s 1 normal forwards;
  }
  
  .appearFirstR{
    opacity: 0;
    animation: appearR 2s ease-in-out 1s 1 normal forwards;
  }
  
  .appearSecondR{
    opacity: 0;
    animation: appearR 2s ease-in-out 1.7s 1 normal forwards;
  }
  

  

  @-webkit-keyframes appearL{
    from{
      transform: translateX(-100vw);
      opacity: 0;
    }
    
    25%{
      
      opacity: 0.25;
    }
    
    75%{
      transform: translateX(25vw);
      opacity: 0.25;
    }
    
    to{
      transform: translateX(0vw);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes appearR{
    from{
      transform: translateX(100vw);
      opacity: 0;
    }
    
    25%{
      
      opacity: 0.25;
    }
    
    75%{
      transform: translateX(-25vw);
      opacity: 0.25;
    }
    
    to{
      transform: translateX(0vw);
      opacity: 1;
    }
}


@-webkit-keyframes background {
    0% {
      background-image: url('../assets/images/background1.jpg');
      background-position: left;
    }
  
    16%{
      background-image: url('../assets/images/background1.jpg');
      background-position: right;
      
    }
    32%{
      background-image: url('../assets/images/background2.jpg');
      background-position: left;
    }
  
    48%{
      background-image: url('../assets/images/background2.jpg');
      background-position: right;
    }
    
    64%{
      background-image: url('../assets/images/background3.jpg');
    }
  
    80%{
      background-image: url('../assets/images/background3.jpg');
      background-position: right;
    }
  
    100%{
      background-image: url('../assets/images/background1.jpg');
    }
  
    
  }
 
  
  @-webkit-keyframes appearL{
    from{
      transform: translateX(-100vw);
      opacity: 0;
    }
    
    25%{
      
      opacity: 0.25;
    }
    
    75%{
      transform: translateX(25vw);
      opacity: 0.25;
    }
    
    to{
      transform: translateX(0vw);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes appearR{
    from{
      transform: translateX(100vw);
      opacity: 0;
    }
    
    25%{
      
      opacity: 0.25;
    }
    
    75%{
      transform: translateX(-25vw);
      opacity: 0.25;
    }
    
    to{
      transform: translateX(0vw);
      opacity: 1;
    }
}


@-webkit-keyframes background {
    0% {
      background-image: url('../assets/images/background1.jpg');
      background-position: left;
    }
  
    16%{
      background-image: url('../assets/images/background1.jpg');
      background-position: right;
      
    }
    32%{
      background-image: url('../assets/images/background2.jpg');
      background-position: left;
    }
  
    48%{
      background-image: url('../assets/images/background2.jpg');
      background-position: right;
    }
    
    64%{
      background-image: url('../assets/images/background3.jpg');
    }
  
    80%{
      background-image: url('../assets/images/background3.jpg');
      background-position: right;
    }
  
    100%{
      background-image: url('../assets/images/background1.jpg');
    }
  
    
  }
    
    
    