@media screen and (max-width: 1172px){
  .contact svg{
    display: block;
    margin:auto;
    
  }

  .logo{
    height: 70%
  }
}

@media screen and (max-width: 878px){
  .other{
    display: none;
  }
}

@media screen and (max-width: 810px){
    .contact-header{
      grid-template-columns: 2fr 2fr 0.5fr 0.5fr;
    }


    #consultanta-online{
     
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
    }
    .cards{
      height: auto;
    }
  }
  @media screen and (max-width: 647px) {
    .top-header  {display: none;}
   
     #icon svg {
      display: inline-block;
      float: left;
      position: relative;
      
    }
    .phone-layout .contact{
      position: absolute;
      margin-left: 30%;
    }
    .bot-header  nav ul  li{
      display: none;
    }
    .phone-layout{display: block; }
    .phone-layout img{
      
      position: relative;
      /* display: inline-block; */
      
      height: 10vh;
      float: right;
    }
  }
  
  .responsive {
  position: relative;
  bottom: -15vh;
  z-index: 10;
  background-color: var(--secondary-color);
  display: block !important;
  }