@import 'main.css';
html{  
    background-color: black;
}
header, section{
    margin:auto
}

.parallax{

    /* background-color: var(--transparent); */
    
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
.text{
    display: block;
    width: 80vw;
    margin:5em auto;
    line-height: 2em;

}
.text p{
    text-indent: 2em;
}
.text ul{
    padding: 10%;
}

.categorie div:first-child{
    position: relative;
    display: flex;
    width: 100%;
    height: 50vh;
    min-height: 30vh;
    flex-direction: column;
    justify-content: top;
    align-items: center;


}

/* section > div > img{
    position: relative;
    height: 100%;
    width: 100%;
    
} */
section{
    margin-top: 1em;
}
section h1{
    text-align: center;
    margin: 1em;
}

li{
    font-size: 1rem;
    padding: .5rem 0;
    list-style-position: inside;
}
        
@media only screen and (orientation: portrait) {section div img{height: auto; max-width: 100%;}}



   .contact2{
       position: relative;
       display:grid;
       grid-template-columns: 1fr 1fr;
       gap: 10px;
       align-items: center;
       justify-content: space-around;
   }

   .form-container{
       grid-column: 1 / 1;
   }
