:root{
    /* --def: #96B7C4; 	 */
      /* --inv: #fff; */
  
    --def:black;
    --inv:#ab8356;
  --primary-color:#282E3F;
  --secondary-color:#333a4d;
  --hover-color:#717583;
  --active-color:black;
  --secondary-font-color:#ab8356;
  --primary-font-color:white;
  --primary-color-transparent:rgba(40, 46, 63, 0.8);
  --transparent:rgba(0, 0, 0, 0.7);
  }


  h1{

  }
  h2{
    
  }