#consultanta-online{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    /* margin-top: 2rem; */
    /* align-items: center; */
}

#consultanta-online .background{
    height: 110vh;
}

#consultanta-online .form-container{
   grid-column: 1 / 1;
   align-self: center;
   justify-self: center;
   border: solid 1px blue;
   /* margin-right: auto; */
}

.form-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:var(--transparent)
}
.form-container h1{
    text-align: center;
}
.form-container form {
    align-self: center;
    border: white solid 2px;
    /* background-color:var(--transparent); */
    /* TODO display flex coloana aliniat pe mijloc */
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    margin-bottom: 1em;
    justify-content: space-around;
    width: 90%;
    height: auto;
    /* border: solid red; */
    text-align: center;
    background-color:wheat;
    padding-top: 2em;
}
input::-webkit-input-placeholder , textarea::-webkit-input-placeholder{
    color: #808080;
    transition: all .5s;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    /* color: red; */
    transform: scale(0.00001)
}
/* TEST */

.form-container input:focus ~ label,
.form-container textarea:focus ~ label,
.form-container input:valid ~ label,
.form-container textarea:valid ~ label {
    /* top: -12px;
    left: 0; */
    /* color: green; */
    font-size: 1rem;
    font-weight: bold;
}
label{
    display: none;
}
/* TEST---TEST */
textarea, input, label{
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    align-self: center;
    text-align: center;
    border: var(--inv) solid 2px;
}
textarea{
    text-align: justify;
    height: auto;
    background-color:transparent;
}

.form-container form input, .form-container button{
    margin: 0.2em 0 0.7em 0;
    background-color: transparent;

}
#consultanta-online .content{
justify-content: center;
text-align: center;
grid-column: 2 / 2 ;
border: solid 1px red;

}

#consultanta-online .section-head{
    /* word-spacing: 1.2rem; */
    line-height: 2em;
}
#consultanta-online p{
    display: inline-block;
    font-size: 1rem;
    width: 50%;
    /*  */
    text-indent: 1rem;
    text-transform: none;
}

#consultanta-online div:nth-child(2){
    background-color: var(--transparent);
    /* border: 1px solid red; */
}

#consultanta-online h1, h2, h3 , #consultanta-online .form-container h1{
font-size: 16px;
}
