.appearFirstL{
    opacity: 0;
    animation: appearL 2s ease-in-out 1s 1 normal forwards;
  }
  
  
  
  .appearSecondL{
    opacity: 0;
    animation: appearL 2s ease-in-out 1.7s 1 normal forwards;
  }
  
  .appearFirstR{
    opacity: 0;
    animation: appearR 2s ease-in-out 1s 1 normal forwards;
  }
  
  .appearSecondR{
    opacity: 0;
    animation: appearR 2s ease-in-out 1.7s 1 normal forwards;
  }
  
  @keyframes changeText{
    0%{
      content: " drept penal";
    }
    16%{
      content: " dreptul familiei";
    }
    32%{
      content: " drept civil";
    }
    48%{
      content: " malpraxis medical";
    }
    64%{
      content: " dreptul muncii";
    }
    80%{
      content: " executari silite";
    }
    100%{
      content: " drept penal";
    }
    
  }
  
  @keyframes appearL{
    from{
      transform: translateX(-100vw);
      opacity: 0;
    }
    
    25%{
      
      opacity: 0.25;
    }
    
    75%{
      transform: translateX(25vw);
      opacity: 0.25;
    }
    
    to{
      transform: translateX(0vw);
      opacity: 1;
    }
  }
  
  @keyframes appearR{
    from{
      transform: translateX(100vw);
      opacity: 0;
    }
    
    25%{
      
      opacity: 0.25;
    }
    
    75%{
      transform: translateX(-25vw);
      opacity: 0.25;
    }
    
    to{
      transform: translateX(0vw);
      opacity: 1;
    }
}

@keyframes background {
    0% {
      background-image: url('../assets/images/background1.jpg');
    }
  
    16%{
      background-image: url('../assets/images/background1.jpg');
    }
    32%{
      background-image: url('../assets/images/background2.jpg');
    }
  
    48%{
      background-image: url('../assets/images/background2.jpg');
    }
    
    64%{
      background-image: url('../assets/images/background3.jpg');
    }
  
    80%{
      background-image: url('../assets/images/background3.jpg');
    }
  
    100%{
      background-image: url('../assets/images/background1.jpg');
    }
  
    
  }
    
    
    