.mapouter {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    position: relative;
    text-align: center;
    height: 50vh;
    width: 80vw;
    /* top: 1.5em; */
    /* background-color: var(--primary-color); */
    
}

#gmap_canvas{
    height: 50vh;
    width: 90%;
    margin: auto;
    background-color: var(--primary-color);
}
.gmap_canvas {
    overflow: scroll;
    background: none!important;
    height: 60vh;
    width: 100vw;
    background-color: var(--primary-color);
}

