.penal {
    background-image: url(./assets/images/svg/penal.svg);
}

.familial {
    background-image: url(./assets/images/svg/familie.svg);
}

.civil {
    background-image: url(./assets/images/svg/civil.svg);
}

.malpraxis {
    background-image: url(./assets/images/svg/malpraxis.svg);
}

.muncii {
    background-image: url(./assets/images/svg/munca.svg);
}

.executari {
    background-image: url(./assets/images/svg/executari.svg);
}

.imobiliar {
    background-image: url(./assets/images/svg/ballance\ symbol.svg)
}

.contraventional {
    background-image: url(./assets/images/svg/contraventional.svg);
}

.bancar {
    background-image: url(./assets/images/svg/bancar.svg);
}

.administrativ {
    background-image: url(./assets/images/svg/administrativ.svg);
}

.administrativ,
.bancar,
.civil,
.contraventional,
.imobiliar,
.imobiliar,
.executari,
.malpraxis,
.muncii,
.penal {
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}