:root{
--primary-color:#282E3F;
--secondary-color:#333a4d;
--hover-color:#717583;
--active-color:black;
--secondary-font-color:#ab8356;
--primary-font-color:white
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-family: sans-serif;
}
header{
  text-align: center;
  width: 100%;
  color:white
}

.bot-header nav ul  li{
  display: inline-block;
  padding: 1rem;
}
.bot-header nav ul li a:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.bot-header nav ul li a svg{
  width: 10%;
  /* display: none; */
}
.bot-header nav ul li a:hover:after {
  width: 100%;
  background: var(--hover-color);
}

.bot-header nav ul  li  a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  
}
.bot-header nav ul  li .icon {
  display: none;
}
.top-header{
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-content: center;
  
  height: 20vh;
}

.logo{
  /* background-image: url(./2.png); */
  /* background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
  grid-column:1 / 1;
  width: 100%;
}
.logo img{
  /* position: relative; */
  padding: 1rem;
  max-width:20vh
}

.contact-header {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-column:2 / 2;
  padding: 1rem;
 
}

.contact{
  border-right: 1px solid var(--secondary-color);
}

.contact svg{
  color:var(--secondary-font-color);
  display: inline-block;
  /* float: left; */
  height: 1.5rem;
}
.contact a span{
  font-size: 1.5rem;
  display: inline-block;
  padding:0rem 1rem;
  vertical-align: top;
}

.contact a span:last-of-type{
  font-size: 0.7rem;
}


.contact a{
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: var(--primary-font-color);
}


.other a{
  position: relative;
  top: 1.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  /* vertical-align: middle; */
}
.other svg{
  position: relative;
}
  
  
.other span{
  padding: 1em 0em!important;
  
} 
.bot-header{
  background-color: var(--secondary-color);
}
header {
  background-color: var(--secondary-color);
}
#icon svg{

  /* width: 10vw; */
  height: 10vh;
  position: relative;
  /* left: -40vw; */
  display: none;
  color:var(--primary-font-color)
}

.phone-layout{
  display: none;
}

@media screen and (max-width: 600px) {
  .top-header  {display: none;}
  /* .bot-header nav ul li:not(:first-child) {display: none;} */
   #icon svg {
    display: inline-block;
    left: -40vw;
    position: relative;
    
  }
  .bot-header  nav ul  li{
    display: block;
  }
  .phone-layout{display: block;}
  .phone-layout img{
    position: relative;
    display: inline-block;
    /* top: -3rem; */
    height: 10vh;
    float: right;
  }
 /* #icon::after{
   content: "";
   background-image: url(./2.png);
   float: right;
   min-width: 100px;
   min-height: 100px;
 } */
}
/* .responsive li a{
  display: block;
  position: relative;
  text-align: left;
} */

  /* .responsive ul li {
    position: relative;
  }

  .responsive ul li  a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
   .bot-header nav ul li a {
    float: none;
    display: block;
    text-align: left;
  } */



/* transitions */

.hide{
  
display: none;
}